@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 233, 247);
    font-family: 'poppins';
}
.calc{
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.calc input{
    height: 60px;
    outline: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
}

.calc-btns{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    margin-top: 20px;
}
.calc .equals{
    height: 50px;
    margin-top: 10px;
    font-family: inherit;
    font-size: 30px;
    font-weight: 500;
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calc-btns button{
    height: 50px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.calc-btns button:hover{
    background-color:  rgb(230, 233, 247);
}