@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 233, 247);
    font-family: 'poppins' ;
}

.intr-bdy{
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 540px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.optn-btns{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.optn-btns button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 40px;
    background-color: white;
    border: none;
    font-family: inherit;
    font-weight: 500;
    border-radius: 5px;
}
.optn-btns button:hover{

    background-color: rgb(230, 233, 247);
}