@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --bg: rgb(230, 233, 247);
    --text: #111;
    --card-bg: #fff;
    --shadow: rgba(0, 0, 0, 0.1);
  }

body.dark {
    --bg: #121212;
    --text: #f1f1f1;
    --card-bg: #1e1e1e;
    --shadow: rgba(255, 255, 255, 0.05);
  }
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--bg);
    font-family: 'poppins' ;
    transition: all 0.3s ease;
}
a{
    text-decoration: none;
    color: var(--text);
    font-size: 15px;
    cursor: pointer;
}
.body-box{
    color: var(--text);
    border-radius: 10px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--card-bg);
    width: 540px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.body-box h2{
    font-weight: 900;
    margin-bottom: 10px;
}
.body-box .tool-btns{
    margin-top: 20px;
    display: grid;
    grid-template-columns:auto auto;
    gap: 20px;
}
.body-box .tool-btns button{
    border-radius: 5px;
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    color: var(--text);
    background-color: var(--bg);
}

.toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
.toggle-btn:hover{
    background-color: none;
}